<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Configuración para la consola -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuración para el archivo -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>logs/myapp.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Nivel de log para el paquete com.alianza.back y sus subpaquetes -->
    <logger name="com.alianza.back" level="debug"/>

    <!-- Nivel de log para el root logger -->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>